.quizz_container{
  width: 80%;
  margin: auto;
  margin-top: 20px;
}

.quizz_logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.quizz_logo > h3{
  margin-top: 20px;
}

.quizz_questions{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #6e998750;
  border-radius: 8px;
  background-color: #114d4d;
  width: 100%;
  height: 200px;
  font-size: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 20px;
}

.quizz_options{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  margin-bottom: 20px;
}

.btn-option{
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #6e9987;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

.btn-option:hover{
  background-color: #6e9987;
}

.btn-option:active{
  position: relative;
  top: 1px;
}

.quizz_results{
  width: 100%;
  height: 350px;
  background-color: rgb(33, 2, 57);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quizz_image-1{
  width: 35%;
  height: 90%;
}

.assinatura{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 30%;
  border: 1px solid rgba(57, 57, 57, 0.277);
  border-radius: 5px;
  background-color: rgba(248, 248, 255, 0.619);
  text-align: center;
}

.assinatura > h3{
  font-size: 13px;
  color: #2d04f97b;
}

.assinatura > p{
  font-size: 12px;
  color: #2d04f97b;
}
